.navbar-logo {
  display: flex;
  align-item: center;
  margin: 10px 10px;
  padding: 15px;
  justify-content: space-around;
}

.navbar-wagon-item {
  flex-grow: 1;
  background-color: red;
}

/* Navbar link */

.navbar-wagon-link {
  color: black;
  font-size: 17px;
}

.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}
